<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yhdatabase/datamodule/repository">

    <update id="createTable">
        <![CDATA[
        CREATE TABLE IF NOT EXISTS ${progId} (
            id INT AUTO_INCREMENT PRIMARY KEY,
            <foreach collection="colInfo" item="col" separator=", ">
                ${col} VARCHAR(100)
            </foreach>
        )
        ]]>
    </update>

</mapper>